<!--
Copyright 2015-2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
A copy of the License is located at

    http://aws.amazon.com/apache2.0/

or in the "license" file accompanying this file. This file is distributed
on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied. See the License for the specific language governing
permissions and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.amazon.android.contentbrowser">
    <!-- Launcher integration -->
    <uses-permission android:name="com.amazon.device.permission.COMRADE_CAPABILITIES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:allowBackup="true">
        <!-- Launcher integration -->
        <!-- Uncomment the below receiver to enable launcher integration -->
        <!--
        <receiver android:name="com.amazon.android.contentbrowser.helper.LauncherIntegrationBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.amazon.device.REQUEST_CAPABILITIES" >
                </action>
            </intent-filter>
        </receiver>
        -->
        <receiver
                android:name=".recommendations.BootCompletedReceiver"
                android:enabled="true"
                android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <service
                android:name=".recommendations.UpdateRecommendationsService"
                android:enabled="true" />
        <service android:name=".recommendations.DeleteRecommendationService"
                 android:enabled="true" />
    </application>

</manifest>
