<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2015-2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
A copy of the License is located at

    http://aws.amazon.com/apache2.0/

or in the "license" file accompanying this file. This file is distributed
on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied. See the License for the specific language governing
permissions and limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fireappbuilder.android.calypso">

    <uses-feature android:name="android.software.leanback" android:required="true"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>

    <!-- Permission for getting voice command controls using media session -->
    <uses-permission android:name="com.amazon.permission.media.session.voicecommandcontrol"/>

    <application
            android:allowBackup="true"
            android:label="@string/app_name"
            android:name="com.amazon.android.tv.tenfoot.base.TenFootApp"
            android:icon="@drawable/app_logo"
            android:theme="@style/AppTheme"
            android:banner="@drawable/app_banner">
        <activity
                android:name="com.amazon.android.tv.tenfoot.ui.activities.SplashActivity"
                android:screenOrientation="landscape"
                android:noHistory="true"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <!-- Launcher integration intents -->
            <!-- Uncomment the below intent filters to enable launcher integration -->
            <!--
            <intent-filter>
                <action android:name="PLAY_CONTENT_FROM_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="SIGN_IN_FROM_LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            -->
            <!-- Launcher integration intents complete -->
        </activity>
    </application>

</manifest>
